<%= semantic_form_for @tax_rate do |f| %>
  <% if @tax_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax_rate.errors.count, "error") %> prohibited this tax_rate from being saved:</h2>

      <ul>
      <% @tax_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.inputs %>
    <%= f.actions %>
<% end %>
