<p id="notice"><%= notice %></p>

<h1>Listing Tax Rates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_rates.each do |tax_rate| %>
      <tr>
        <td><%= link_to 'Show', tax_rate %></td>
        <td><%= link_to 'Edit', edit_tax_rate_path(tax_rate) %></td>
        <td><%= link_to 'Destroy', tax_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax rate', new_tax_rate_path %>
