<%= semantic_form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <%= f.label :price, 'Price' %>
    <%= f.text_field :price %>
    <%= f.label :cost_price, 'Cost Price' %>
    <%= f.text_field :cost_price %>
    <%= f.label :sku, 'SKU' %>
    <%= f.text_field :sku %>
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description %>  
    <%= f.label :short_description, 'Short Description' %>
    <%= f.text_field :short_description %>
    <%= f.label :weight, 'Wight' %>
    <%= f.text_field :weight %>
    <%= f.label :active, 'Active'%> 
    <%= f.check_box :active %>
    <%= f.label :image, 'Image' %>
    <%= f.file_field :image %>
    <%= f.submit 'Save'%>

<% end %>

